<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Selector</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎵</text></svg>">
    <style>
        /* Ajout de style pour augmenter la taille des vignettes */
        .thumbnail {
            width: 360px;
            height: 240px;
            cursor: pointer;
            /* Rend les vignettes cliquables */
        }

        /* Style pour le titre de la playlist */
        .playlist-title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            /* Augmentation de la transparence */
            color: black;
            text-align: center;
            font-size: 2rem;
            font-family: Calibri, sans-serif;
            padding: 0.5rem;
            overflow: hidden;
            /* Pour cacher le texte qui dépasse */
            text-overflow: ellipsis;
            /* Pour ajouter des points de suspension au texte qui dépasse */
            white-space: nowrap;
            /* Pour empêcher le texte de se couper */
        }

        /* Style pour les boutons emoji */
        .emoji-btn {
            cursor: pointer;
        }

        /* Style pour le popup */
        .popup {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.9);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 9999;
        }

        /* Style pour le fond semi-transparent */
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9998;
        }

        .linksContainer {
            display: flex;
            flex-wrap: wrap;
        }

        @media (max-width: 1200px) {
            .linksContainer {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .linksContainer>div {
                place-self: center;
            }

            .playlist-title {
                font-size: 1.5rem;
                overflow: initial;
                white-space: initial;
            }
        }
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-i18n@9.1.0/dist/vue-i18n.global.js"></script>
</head>

<body class="bg-gray-800">
    <div id="app" class="container mx-auto py-4">
        <button class="fixed top-4 left-4 bg-blue-900 text-white p-2 rounded" @click="showSettings = !showSettings">
            ⚙️
        </button>

        <h1 class="text-3xl text-center text-gray-200 mb-4">Music Selector</h1>

        <template v-if="showSettings">
            <div class="flex justify-center gap-1 w-full mb-4">
                <button class="bg-blue-500 text-white px-4 py-2 rounded" @click="showApiKeyPopup = true">
                    {{ $t("button.enterApiKey") }}
                </button>
                <button class="bg-blue-500 text-white px-4 py-2 rounded" @click="reloadThumbnails">
                    {{ $t("button.reloadThumbnails") }}
                </button>
                <button class="bg-blue-500 text-white px-4 py-2 rounded" @click="exportData">
                    {{ $t("button.exportData") }}
                </button>
                <button class="bg-blue-500 text-white px-4 py-2 rounded" @click="importData">
                    {{ $t("button.importData") }}
                </button>
                <button class="bg-red-500 text-white px-4 py-2 rounded" @click="clearData">
                    {{ $t("button.clearData") }}
                </button>
                <select v-model="lang" class="rounded px-4 py-2">
                    <option vlaue="" disabled selected>{{ $t("placeholder.chooseLang") }}</option>
                    <option v-for="locale in $i18n.availableLocales" :key="`locale-${locale}`" :value="locale">
                        {{ $i18n.messages[locale].flag }}
                    </option>
                </select>
            </div>

            <!-- Bloc de Menu -->
            <div class="flex flex-col mb-4">

                <button class="mb-2 bg-blue-500 text-white px-4 py-2 rounded"
                    @click="showAddCategoryForm = !showAddCategoryForm">
                    {{ $t("button.createCategory") }}
                </button>

                <!-- Formulaire pour créer une catégorie (initiallement caché) -->
                <div v-if="showAddCategoryForm" class="mb-2">
                    <input v-model="newCategoryName" type="text" :placeholder="$t('placeholder.newCategoryName')"
                        class="border border-gray-300 px-4 py-2 mr-2">
                    <button class="bg-green-500 text-white px-4 py-2 rounded" @click="addCategory">
                        {{ $t("button.addCategory") }}
                    </button>
                </div>

                <!-- Module d'ajout de lien -->
                <div class="flex flex-col">
                    <input v-model="newLink.name" type="text" :placeholder="$t('placeholder.newLink.name')"
                        class="border border-gray-300 px-4 py-2 mb-2">
                    <input v-model="newLink.playlistUrl" type="text"
                        :placeholder="$t('placeholder.newLink.playlistUrl')"
                        class="border border-gray-300 px-4 py-2 mb-2">
                    <select v-model="newLink.category" class="border border-gray-300 px-4 py-2 mb-2">
                        <option value="" selected disabled>{{ $t("placeholder.newLink.category") }}</option>
                        <option v-for="category in categories">{{ category.name }}</option>
                    </select>
                    <button class="bg-green-500 text-white px-4 py-2 rounded" @click="addLink">
                        {{ $t("button.addLink") }}
                    </button>
                </div>
            </div>
        </template>

        <!-- Popup pour entrer la clé API -->
        <template v-if="showApiKeyPopup">
            <div class="popup">
                <h2 class="text-lg mb-2">{{ $t("message.enterApiKey") }}</h2>
                <input v-model="newApiKey" type="text" :placeholder="$t('placeholder.youtubeApiKey')"
                    class="border border-gray-300 px-4 py-2 mb-2 w-full">
                <button class="bg-red-500 text-white px-4 py-2 rounded" @click="showApiKeyPopup = false">{{
                    $t("button.cancel") }}</button>
                <button class="bg-green-500 text-white px-4 py-2 rounded float-right" @click="commitNewApiKey">{{
                    $t("button.save") }}</button>
            </div>
            <div class="overlay" @click="showApiKeyPopup = false"></div>
        </template>

        <template v-if="movingLink !== undefined">
            <div class="popup">
                <h2 class="text-lg mb-2">{{ $t("message.chooseNewCategoryForPlaylist") }}</h2>
                <select v-model="movingLink.newCategory" class="border border-gray-300 px-4 py-2 mb-2 w-full">
                    <option value="" selected disabled>{{ $t("placeholder.newLink.category") }}</option>
                    <template v-for="category in categories">
                        <option v-if="category !== movingLink.oldCategory">{{ category.name }}</option>
                    </template>
                </select>
                <button class="bg-red-500 text-white px-4 py-2 rounded" @click="movingLink = undefined">{{
                    $t("button.cancel") }}</button>
                <button class="bg-green-500 text-white px-4 py-2 rounded float-right"
                    @click="changeLinkCategory(movingLink.oldCategory, movingLink.index, movingLink.newCategory)">{{
                    $t("button.save") }}</button>
            </div>
            <div class="overlay" @click="movingLink = undefined"></div>
        </template>

        <!-- Conteneur pour les catégories -->
        <div v-for="(category, categoryIndex) in categories" class="mb-4 text-gray-200">
            <div class="flex items-center gap-2">
                <button class="bg-blue-300 text-white px-2 py-1 rounded" @click="category.hidden = !category.hidden">
                    {{ category.hidden ? "➕" : "➖" }}
                </button>
                <template v-if="showSettings">
                    <button class="bg-red-500 text-white px-2 py-1 rounded"
                        @click="deleteCategory(categoryIndex)">×</button>
                    <button class="bg-blue-500 text-white px-2 py-1 rounded"
                        @click="moveCategory(categoryIndex, -1)">🔼</button>
                    <button class="bg-blue-500 text-white px-2 py-1 rounded"
                        @click="moveCategory(categoryIndex, +1)">🔽</button>
                    <button class="bg-blue-500 px-2 py-1 rounded" @click="enableCategoryNameEdit(category)">📝</button>
                </template>
                <h2 v-if="category.newName === undefined" class="text-xl font-semibold">
                    {{ category.name }}
                </h2>
                <template v-else>
                    <input v-model="category.newName" class="text-xl text-black font-semibold"></input>
                    <button class="bg-green-500 px-2 py-1 rounded" @click="commitNewCategoryName(category)">
                        {{ $t("button.save") }} ✔
                    </button>
                    <button class="bg-red-500 text-white px-2 py-1 rounded" @click="category.newName = undefined">
                        {{ $t("button.cancel") }} ✘
                    </button>
                </template>
            </div>
            <div v-if="!category.hidden" class="linksContainer">
                <div v-for="(link, linkIndex) in category.links" class="m-2 relative">
                    <a class="thumbnail-link" target="_blank" :href="link.youtubeLink">
                        <div class="thumbnail-container relative">
                            <img :src="link.thumbnailUrl" alt="Thumbnail" class="thumbnail rounded-lg">
                            <p class="playlist-title rounded-b-lg">{{ link.name }}</p>
                        </div>
                    </a>
                    <div v-if="showSettings" class="absolute top-0 left-0 w-full">
                        <button class="bg-blue-500 text-white px-2 py-1 rounded-full"
                            @click="moveLink(category, linkIndex, -1)">◀️</button>
                        <button class=" bg-blue-500 text-white px-2 py-1 rounded-full"
                            @click="moveLink(category, linkIndex, +1)">▶️</button>
                        <button class=" bg-blue-500 text-white px-2 py-1 rounded-full"
                            @click="prepareChangingLinkCategory(category, linkIndex)">🔃</button>
                        <button class="bg-red-500 text-white px-2 py-1 rounded-full float-right"
                            @click="deleteLink(category, linkIndex)">×</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const { createApp } = Vue
        const dataKey = "data";
        const data = (() => {
            const text = localStorage.getItem(dataKey);
            if (text === null) {
                return {};
            } else {
                return JSON.parse(text);
            }
        })();

        const swap = (array, i, j) => {
            if (
                i < 0
                || j < 0
                || i >= array.length
                || j >= array.length
                || i === j
            ) {
                return;
            }
            var moved = array[i];
            array[i] = array[j];
            array[j] = moved;
        }

        const messages = {
            en: {
                flag: "🇺🇸 / 🇬🇧",
                button: {
                    enterApiKey: 'Enter API Key',
                    reloadThumbnails: 'Reload thumbnails',
                    exportData: 'Export data',
                    importData: 'Import data',
                    clearData: 'Clear data',
                    createCategory: 'Create a category',
                    addCategory: 'Add',
                    addLink: 'Add link',
                    cancel: 'Cancel',
                    save: 'Save',
                },
                placeholder: {
                    newCategoryName: 'Category name',
                    newLink: {
                        name: 'Link name (optional)',
                        playlistUrl: "YouTube playlist URL",
                        category: "Select a category",
                    },
                    youtubeApiKey: "YouTube API Key",
                    chooseLang: "Choose language",
                },
                message: {
                    enterApiKey: 'Enter YouTube API key',
                    chooseNewCategoryForPlaylist: 'Choose which category to move the playlist to',
                    confirmCancelData: "Are you sure you want to delete all data ?",
                    forgotCategoryName: "Please define a category name.",
                    forgotLinkCategory: "Please choose which category to add the link to.",
                    invalidPlaylistUrl: "Please enter a valid YouTube playlist link.",
                    forgotApiKey: "Please enter your API key first.",
                    error: "An error occured : {err}",
                    unableToFindCategory: "Unable to find category '{cat}'",
                    confirmDeleteCategory: "Are you sure you wish to delete this category and all of its links ?",
                    confirmDeleteLink: "Are you sure you want to delete this link ?",
                    forgotCategoryToMoveTo: "Please choose the category you wish to move the link to.",
                    cantGetPlayListId: "Unable to extract id from link of playlist '{name}'"
                }
            },
            fr: {
                flag: "🇫🇷",
                button: {
                    enterApiKey: 'Entrer la clé API',
                    reloadThumbnails: 'Recharger les vignettes',
                    exportData: 'Exporter les données',
                    importData: 'Importer les données',
                    clearData: 'Supprimer les données',
                    createCategory: 'Créer une catégorie',
                    addCategory: 'Ajouter',
                    addLink: 'Ajouter le lien',
                    cancel: 'Annuler',
                    save: 'Valider',
                },
                placeholder: {
                    newCategoryName: 'Nom de la catégorie',
                    newLink: {
                        name: 'Nom du lien (optionnel)',
                        playlistUrl: "Lien de la playlist YouTube",
                        category: "Sélectionner la catégorie",
                    },
                    youtubeApiKey: "Clé API YouTube",
                    chooseLang: "Choisir la langue",
                },
                message: {
                    enterApiKey: 'Entrer la clé API YouTube',
                    chooseNewCategoryForPlaylist: 'Choisir la catégorie vers laquelle déplacer la playlist',
                    confirmCancelData: "Êtes-vous sûr de vouloir supprimer toutes les données ?",
                    forgotCategoryName: "Veuillez saisir un nom de catégorie.",
                    forgotLinkCategory: "Veuillez choisir la catégorie à laquelle ajouter le lien.",
                    invalidPlaylistUrl: "Veuillez entrer un lien de playlist YouTube valide.",
                    forgotApiKey: "Veuillez d'abord entrer votre clé API.",
                    error: "Une erreur s'est produite : {err}",
                    unableToFindCategory: "Impossible de trouver la catégorie '{cat}'",
                    confirmDeleteCategory: "Êtes-vous sûr de vouloir supprimer cette catégorie et tous ses liens ?",
                    confirmDeleteLink: "Êtes-vous sûr de vouloir supprimer ce lien ?",
                    forgotCategoryToMoveTo: "Veuillez choisir la catégorie vers laquelle déplacer le lien.",
                    cantGetPlayListId: "Impossible d'extraire l'id à partir du lien de la playlist '{name}'"
                }
            }
        }

        const i18n = VueI18n.createI18n({
            locale: data.lang ?? 'en',
            fallbackLocale: 'en',
            messages,
        })

        async function getPlaylistTitle(playlistId, apiKey) {
            try {
                // Construct the URL for the API request to fetch playlist information
                const playlistInfoUrl = `https://www.googleapis.com/youtube/v3/playlists?part=snippet&id=${playlistId}&key=${apiKey}`;

                // Make the API request to fetch playlist information
                const playlistInfoResponse = await fetch(playlistInfoUrl);
                const playlistInfoData = await playlistInfoResponse.json();

                // Extract and return the title of the playlist
                return playlistInfoData.items[0].snippet.title;
            } catch (error) {
                console.error('Error fetching playlist title:', error);
                return null;
            }
        }

        async function getFirstVideoId(playlistId, apiKey) {
            try {
                // Construct the URL for the API request to fetch playlist items (videos)
                const playlistItemsUrl = `https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&playlistId=${playlistId}&key=${apiKey}&maxResults=1`;

                // Make the API request to fetch playlist items (videos)
                const playlistItemsResponse = await fetch(playlistItemsUrl);
                const playlistItemsData = await playlistItemsResponse.json();

                // Extract and return the ID of the first video in the playlist
                return playlistItemsData.items[0].snippet.resourceId.videoId;
            } catch (error) {
                console.error('Error fetching first video ID:', error);
                return null;
            }
        }

        function makeThumbnailUrl(videoId) {
            return `https://i.ytimg.com/vi/${videoId}/mqdefault.jpg`;
        }

        const app = createApp({
            data() {
                return {
                    showSettings: data?.showSettings,
                    showApiKeyPopup: false,
                    showAddCategoryForm: false,
                    apiKey: data?.apiKey,
                    newApiKey: "",
                    /*
                    type Category = {
                        name: string,
                        newName?: string,
                        links: Link[],
                        hidden: boolean
                    }
                    type Link = {
                        name: string,
                        youtubeLink: string,
                        thumbnailURL: string,
                    }
                    */
                    categories: data?.categories ?? [],
                    newCategoryName: "",
                    newLink: {
                        name: "",
                        playlistUrl: "",
                        category: "",
                    },
                    movingLink: undefined,
                    lang: data.lang ?? 'en',
                }
            },
            watch: {
                showSettings() {
                    this.saveData();
                },
                apiKey() {
                    this.saveData();
                },
                categories: {
                    handler(newValue, oldValue) {
                        this.saveData();
                    },
                    deep: true
                },
                lang() {
                    this.$i18n.locale = this.lang;
                    this.saveData();
                }
            },
            methods: {
                prepareData() {
                    return {
                        apiKey: this.apiKey,
                        showSettings: this.showSettings,
                        categories: this.categories,
                        lang: this.lang,
                    }
                },
                saveData() {
                    localStorage.setItem(
                        dataKey,
                        JSON.stringify(this.prepareData())
                    );
                },
                exportData() {
                    const data = this.prepareData();
                    const pom = document.createElement('a');
                    pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(JSON.stringify(data)));
                    pom.setAttribute('download', "music-selector.json");
                    pom.click();
                },
                importData() {
                    const input = document.createElement('input');
                    input.type = 'file';
                    input.onchange = e => {
                        const file = e.target.files[0];
                        const reader = new FileReader();
                        reader.readAsText(file, 'UTF-8');
                        reader.onload = readerEvent => {
                            const text = readerEvent.target.result;
                            const data = JSON.parse(text);
                            Object.assign(this, data);
                            location.reload();
                        }
                    }
                    input.click();
                },
                clearData() {
                    if (confirm(this.$t("message.confirmCancelData"))) {
                        localStorage.removeItem(dataKey);
                        location.reload();
                    }
                },
                commitNewApiKey() {
                    this.apiKey = this.newApiKey;
                    this.newApiKey = "";
                    this.showApiKeyPopup = false;
                },
                addCategory() {
                    if (this.newCategoryName.trim() === "") {
                        alert(this.$t("message.forgotCategoryName"));
                        return;
                    }
                    this.categories.push({ name: this.newCategoryName, links: [] });
                    this.newCategoryName = "";
                },
                async addLink() {
                    if (this.newLink.category === "") {
                        alert(this.$t("message.forgotLinkCategory"));
                        return;
                    }

                    const playlistId = ((url) => {
                        const match = url.match(/[?&]list=([^&]+)/);
                        return match ? match[1] : null;
                    })(this.newLink.playlistUrl);

                    if (!playlistId) {
                        alert(this.$t("message.invalidPlaylistUrl"));
                        return;
                    }

                    // Vérifier si la clé API est définie
                    if (!this.apiKey) {
                        alert(this.$t("message.forgotApiKey"));
                        return;
                    }

                    const [ playlistTitle, firstVideoId ] = await Promise.all([
                        getPlaylistTitle(playlistId, this.apiKey),
                        getFirstVideoId(playlistId, this.apiKey)
                    ]);
                    const thumbnailUrl = makeThumbnailUrl(firstVideoId);
                    const title = this.newLink.name || playlistTitle;
                    const targetCategory = this.categories.find(cat => cat.name === this.newLink.category);
                    if (!targetCategory) {
                        const message = this.$t("message.unableToFindCategory", { cat: this.newLink.category });
                        console.error(message);
                        alert(message);
                        return;
                    }
                    targetCategory.links.push({
                        name: title,
                        thumbnailUrl: thumbnailUrl,
                        youtubeLink: this.newLink.playlistUrl
                    });
                    this.newLink.name = "";
                    this.newLink.playlistUrl = "";
                    this.newLink.category = "";
                },
                deleteCategory(index) {
                    if (confirm(this.$t("message.confirmDeleteCategory"))) {
                        this.categories.splice(index, 1);
                    }
                },
                moveCategory(index, amount) {
                    swap(this.categories, index, index + amount);
                },
                deleteLink(category, index) {
                    if (confirm(this.$t("message.confirmDeleteLink"))) {
                        category.links.splice(index, 1);
                    }
                },
                moveLink(category, index, amount) {
                    swap(category.links, index, index + amount);
                },
                prepareChangingLinkCategory(oldCategory, linkIndex) {
                    this.movingLink = {
                        oldCategory: oldCategory,
                        index: linkIndex,
                        newCategory: "",
                    }
                },
                changeLinkCategory(oldCategory, oldLinkIndex, newCategory) {
                    if (newCategory === "") {
                        alert(this.$t("message.forgotCategoryToMoveTo"));
                        return;
                    }
                    const newCategoryObj = this.categories.find(cat => cat.name === newCategory);
                    if (newCategoryObj === undefined) {
                        const message = this.$t("message.unableToFindCategory", { cat: this.newLink.category });
                        console.error(message);
                        alert(message);
                        return;
                    }
                    const linkObj = oldCategory.links[oldLinkIndex]
                    oldCategory.links.splice(oldLinkIndex, 1);
                    newCategoryObj.links.push(linkObj);
                    this.movingLink = undefined;
                },
                enableCategoryNameEdit(category) {
                    if (category.newName === undefined) {
                        category.newName = category.name;
                    }
                },
                commitNewCategoryName(category) {
                    if (category.newName !== undefined) {
                        category.name = category.newName;
                        category.newName = undefined;
                    }
                },
                reloadThumbnails() {
                    // Vérifier si la clé API est définie
                    if (!this.apiKey) {
                        alert(this.$t("message.forgotApiKey"));
                        return;
                    }
                    this.categories.forEach(c => {
                        c.links.forEach(async l => {
                            const playlistId = ((url) => {
                                const match = url.match(/[?&]list=([^&]+)/);
                                return match ? match[1] : null;
                            })(l.youtubeLink);

                            if (!playlistId) {
                                console.error(this.$t("message.cantGetPlayListId", { name: l.name }));
                                return;
                            }

                            const firstVideoId = await getFirstVideoId(playlistId, this. apiKey);
                            l.thumbnailUrl = makeThumbnailUrl(firstVideoId);
                        })
                    })
                }
            }
        })
        app.use(i18n);
        app.mount('#app');
    </script>
</body>

</html>